@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<!-- this page is: https://localhost:44364/ -->

<!-- whatever is written here is rendered in RenderBody() of Layout page -->


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p> This is the [Pages >> Index.cshtml] page...</p>

    <img src="~/imgs/flower1.png" asp-append-version="true">
</div>